.topnav {
    overflow: hidden;
    background-color: #F5F5F5;
}

.topnav a {
    float: left;
    color: lightslategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: black;
    color: white;
    text-decoration-color: white;
}